@tailwind base;
@tailwind components;
@tailwind utilities;

.list-container::-webkit-scrollbar {
   width: 0px; /* Hide the default scrollbar in WebKit browsers */
  }
.list-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-gutter: stable ;
}
.list-container::-webkit-scrollbar-track{
  background-color: #f8fafc;
  border: solid 3px transparent;
}
.list-container::-webkit-scrollbar-thumb{
background-color: transparent;
border-radius: 5px;
border: solid 3px transparent;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}